.more-loading {
  margin: 10px 0;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif;
  text-align: center;
  color: #999;
  visibility: hidden;
  height: 22px;
}

.more-loading .more-refresh {
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: middle;
}
